*.wav
/corpus/*/*.wav
/corpus/*/output/*.wav
/corpus/*/*.mp3
/corpus/*/output/*.mp3
/audio_demo/*.wav
/audio_demo/*.mp3
/docs/*.pdf
/docs/*/*.pdf
/docs/*.pptx
/docs/pdfs
/docs/images/*.pptx
/docs/references
/corpus/case_study_Airbus_A300B4-622R(F)
/corpus/pilot_trial_1/
/corpus/*/*/*.wav
/corpus/*/*/*/*.wav
/corpus/*/*/*.m4a
/corpus/*/*/*/*.m4a
/corpus/*/*/*.mp3
/corpus/*/*/*/*.mp3
/src/grains/test.py
/*/*.wav
/*/*/*.wav
/*/*/*/*.wav
/*/*/*/*/*.wav
